/*.suo
bin
obj
*.csproj.user
/PFTSDesktop/*.dat
/PFTSDesktop/3fiakebq.oho
/PFTSHwCtrl/Supercharger.dat
/PFTSHwCtrl/CodeMAP.dat
/PFTSUITemplate/CodeMAP.dat
/PFTSModel/Supercharger.dat
/PFTSUITemplate/Supercharger.dat
/.vs/pftsc/v14/.suo
/.vs/Supercharger/PFTSDesktop/workbench.dat
/.vs/Supercharger/PFTSDesktop/global_history.dat
/.vs/Supercharger/PFTSDesktop/codemap.dat
/.vs/Supercharger/PFTSHwCtrl/workbench.dat
/.vs/Supercharger/PFTSHwCtrl/global_history.dat
/.vs/Supercharger/PFTSHwCtrl/codemap.dat
/.vs/Supercharger/PFTSModel/workbench.dat
/.vs/Supercharger/PFTSModel/global_history.dat
/.vs/Supercharger/PFTSModel/codemap.dat
/.vs/Supercharger/PFTSScene/workbench.dat
/.vs/Supercharger/PFTSScene/global_history.dat
/.vs/Supercharger/PFTSScene/codemap.dat
/.vs/Supercharger/PFTSTools/workbench.dat
/.vs/Supercharger/PFTSTools/global_history.dat
/.vs/Supercharger/PFTSTools/codemap.dat
/.vs/Supercharger/PFTSUITemplate/workbench.dat
/.vs/Supercharger/PFTSUITemplate/global_history.dat
/.vs/Supercharger/PFTSUITemplate/codemap.dat
/.vs/Supercharger/PFTSModel/rich_code_format.dat
/.vs/Supercharger/PFTSModel/code_marker.dat
/.vs/Supercharger/PFTSSetup/workbench.dat
/.vs/Supercharger/PFTSSetup/global_history.dat
/.vs/Supercharger/PFTSSetup/codemap.dat
/.vs/Supercharger/PFTSUITemplate/rich_code_format.dat
/.vs/Supercharger/PFTSUITemplate/code_marker.dat
/.vs/Supercharger/GFramework.BlankWindow/workbench.dat
/.vs/Supercharger/GFramework.BlankWindow/global_history.dat
/.vs/Supercharger/GFramework.BlankWindow/codemap.dat
