<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- DBUG -->
    <add key="debug" value="true"/>
    <!-- 数据库 -->
    <add key="db_server" value="192.168.10.44"/>
    <add key="db_name" value="pfts"/>
    <add key="db_user" value="sa"/>
    <add key="db_password" value="Xlh123456"/>
    <!-- 标签读取设备串口 -->
    <add key="rfid_reader_com" value="COM3"/>
    <!-- RFID TCP Server -->
    <add key="rfid_server_host" value="0.0.0.0"/>
    <add key="rfid_server_port" value="7500"/>
    <!-- 视频存储的目录 -->
    <add key="video_dir" value="D:\\pfts_video\"/>
  </appSettings>
</configuration>